http {
    #lua_code_cache off; # раскомментировать для отладки без постоянных nginx reload

    lua_package_path '/path/to/lua/?.lua;/path/to/lua/lib/?.lua;;';
    #lua_shared_dict session_cache 100m; # для хранения сессий в оперативке

    server {
        location /estrela {
            content_by_lua_file /path/to/lua/index.lua;
        }
    }
}
